option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_npm_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Install dependencies for the application
      npm install

commands:
  01_node_version:
    command: "echo 'Node.js version' && node --version"
  02_npm_version:
    command: "echo 'npm version' && npm --version"
